# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# UE project file
[*.uproject]
indent_style = space
indent_size = 2

# Module target files
[*.cs]
indent_style = tab
indent_size = 4

# C++ source files
[**.cpp]
indent_style = tab
indent_size = 4

[**.h]
indent_style = tab
indent_size = 4
