Binaries
DerivedDataCache
Intermediate
Config/DefaultEnv.ini
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
CMakeLists.txt
CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
compile_commands.json
compile_flags.txt
.DS_Store
thumbs.db
*.sw*
.cache
.ignore
*.code-workspace
/Build
/Packaged
